---
import Layout from "../layouts/Layout.astro";
import Features from "../components/Features.astro";
import Button from "../components/Button.astro";
import Partner from "../components/Partner.astro";
import Paragraph from "../components/Paragraph.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";

// Image assets
import student1 from "../../public/student1.png";
import student2 from "../../public/student2.png";
import activity1 from "../../public/photos/unsplash_zFSo6bnZJTw.png";
import activity2 from "../../public/photos/unsplash_gsRi9cWCIB0.png";
import activity3 from "../../public/photos/unsplash_zFSo6bnZJTw.png";

// vector assets
import ellipse1 from "../../public/vector/Ellipse 1.svg";
import ellipse2 from "../../public/vector/Ellipse 2.svg";
import polygon1 from "../../public/vector/Polygon 1.svg";
import polygon2 from "../../public/vector/Polygon 2.svg";
import rectangle1 from "../../public/vector/Rectangle 5.svg";
import rectangle2 from "../../public/vector/Rectangle 6.svg";

const activities = [
  { image: activity1, name: "Belajar Mengajar" },
  { image: activity2, name: "Sharing Session" },
  { image: activity3, name: "Kelulusan" },
];
---

<Layout title="Selamat Datang - Inagata School" description="">
  <Hero>
    <h1 slot="title">Tuntut Ilmu Untuk Masa Depan Yang Cerah</h1>
    <p slot="subtitle">
      Jelajahi semua pengetahuan dan ilmu bermanfaat yang berguna untuk
      kehidupan anda kedepannya agar lebih bermanfaat dalam hidup anda dan orang
      lain
    </p>
    <Button>Mulai Belajar</Button>
  </Hero>

  <Features />

  <Paragraph>
    <Image src={student1} slot="image" width={512} height={512} alt="student" />
    <h2 style="margin-top: 0;" slot="head">
      Sekolah Alam <br /> Insan Mulia Berkarya
    </h2>
    <p slot="text">
      Sekolah Kami merupakan sekolah informal yang dikelola untuk membantu anak
      mengembangkan bakat dan kemampuannya. Dengan memberikan kurikulum terbaik
      agar anak bisa memilih minatnya dan fokus mengembangkan minat tersebut.
      Sekolah ini didirikan sejak tahun 1989 dan terus berkembang
    </p>
    <Button>Mulai Belajar</Button>
  </Paragraph>

  <Partner />

  <div class="school-activity-container">
    <div class="vectors">
      <Image id="ellipse1" src={ellipse1} alt="Ellipse 1" />
      <Image id="ellipse2" src={ellipse2} alt="Ellipse 2" />
      <Image id="rectangle1" src={rectangle1} alt="Rectangle 1" />
      <Image id="rectangle2" src={rectangle2} alt="Rectangle 2" />
      <Image id="polygon1" src={polygon1} alt="Polygon 1" />
      <Image id="polygon2" src={polygon2} alt="Polygon 2" />
    </div>

    <div class="school-activity-header">
      <h2>Kumpulan Kegiatan Sekolah</h2>
      <a href="#">Lihat Semua</a>
    </div>

    <div class="school-activity-cards">
      {
        activities.map((act) => (
          <div class="card-item">
            <a href="#">
              <Image
                class="card-img"
                src={act.image}
                alt="Belajar mengajar"
                width={320}
              />
              <div class="card-body">
                <p>{act.name}</p>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>

  <Paragraph reverse>
    <Image src={student2} slot="image" width={512} height={512} alt="student" />
    <h2 style="margin-top: 0;" slot="head">
      Dapatkan <br /> Penawaran Menarik
    </h2>
    <p slot="text">
      Kami membuka pendaftaran baru tahun ajaran 2022. Segera daftarkan anak
      anda disekolah kami dapatkan penawaran menarik
    </p>
    <Button>Lihat Detail</Button>
  </Paragraph>

  <ArticleCard />
</Layout>

<style lang="scss">
  .school-activity-container {
    background-color: #30005f;
    width: 86%;
    height: 680px;
    margin: 0 auto;
    border-radius: 2rem;
    position: relative;
    overflow: auto;

    & .vectors > img {
      position: absolute;
      z-index: 0;

      &#ellipse1 {
        width: 120px;
        bottom: 0;
        right: 0;
      }

      &#ellipse2 {
        width: 112px;
        top: 0;
        left: 0;
      }

      &#rectangle1 {
        width: 240px;
        right: 120px;
        top: 0;
        z-index: 1;
      }

      &#rectangle2 {
        width: 180px;
        left: 100px;
        bottom: 0;
      }

      &#polygon1 {
        width: 180px;
        bottom: 40px;
        left: 0;
      }

      &#polygon2 {
        width: 180px;
        right: 0px;
        top: 0;
      }
    }

    .school-activity-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.8rem 4rem;

      h2 {
        font-size: 2.2rem;
      }

      a {
        font-size: 1.2rem;
      }

      > * {
        z-index: 5;
        color: white;
        text-decoration: none;
      }
    }

    .school-activity-cards {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 2rem;
      padding: 0 2rem;

      .card-body {
        background-color: #6804cb;
        color: white;
        width: 100%;

        p {
          font-size: 1.2rem;
        }
      }

      > * {
        z-index: 5;
      }
    }
  }
</style>
