---
import Layout from "../layouts/Layout.astro";
import Features from "../components/Features.astro";
import Button from "../components/Button.astro";
import Partner from "../components/Partner.astro";
import Paragraph from "../components/Paragraph.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { Image } from "astro:assets";

// Image assets
import student1 from "../../public/student1.png";
import student2 from "../../public/student2.png";
import activity1 from "../../public/photos/unsplash_zFSo6bnZJTw.png";
import activity2 from "../../public/photos/unsplash_gsRi9cWCIB0.png";
import activity3 from "../../public/photos/unsplash_8CqDvPuo_kI.png";
import articleImg1 from "../../public/photos/unsplash_zFSo6bnZJTw.png";
import articleImg2 from "../../public/photos/unsplash_gsRi9cWCIB0.png";
import articleImg3 from "../../public/photos/unsplash_NTur2_QKpg0.png";

// vector assets
import ellipse1 from "../../public/vector/Ellipse 1.svg";
import ellipse2 from "../../public/vector/Ellipse 2.svg";
import polygon1 from "../../public/vector/Polygon 1.svg";
import polygon2 from "../../public/vector/Polygon 2.svg";
import rectangle1 from "../../public/vector/Rectangle 5.svg";
import rectangle2 from "../../public/vector/Rectangle 6.svg";
import ellipse_s1 from "../../public/vector/Ellipse-stroke1.png";
import ellipse_s2 from "../../public/vector/Ellipse-stroke2.png";
import { ArrowRight } from "lucide-astro";

const activities = [
  { image: activity1, name: "Belajar Mengajar" },
  { image: activity2, name: "Sharing Session" },
  { image: activity3, name: "Kelulusan" },
];

const articles = [
  {
    image: articleImg1,
    label: "Pengumuman",
    title: "Kegiatan Belajar Mengajar Offline Dimulai",
    description:
      "Kegiatan yang adakan saat siswa selesai melakukan studi sekolah",
  },
  {
    image: articleImg2,
    label: "Pengumuman",
    title: "Pengambilan Raport Semester Ganjil",
    description:
      "Kegiatan yang adakan saat siswa selesai melakukan studi sekolah",
  },
  {
    image: articleImg3,
    label: "Pengumuman",
    title: "Jam Belajar Yang Efektif Pada Anak 8 - 12 Tahun",
    description:
      "Kegiatan yang adakan saat siswa selesai melakuakan studi sekolah",
  },
];
---

<Layout title="Selamat Datang - Inagata School" description="">
  <h1 slot="title">Tuntut Ilmu Untuk Masa Depan Yang Cerah</h1>
  <p slot="subtitle">
    Jelajahi semua pengetahuan dan ilmu bermanfaat yang berguna untuk kehidupan
    anda kedepannya agar lebih bermanfaat dalam hidup anda dan orang lain
  </p>
  <Button slot="button">Mulai Belajar</Button>

  <div class="feature-wrapper">
    <Features />
  </div>

  <Paragraph>
    <Image src={student1} slot="image" width={512} height={512} alt="student" />
    <h2 style="margin-top: 0;" slot="head">
      Sekolah Alam <br /> Insan Mulia Berkarya
    </h2>
    <p slot="text">
      Sekolah Kami merupakan sekolah informal yang dikelola untuk membantu anak
      mengembangkan bakat dan kemampuannya. Dengan memberikan kurikulum terbaik
      agar anak bisa memilih minatnya dan fokus mengembangkan minat tersebut.
      Sekolah ini didirikan sejak tahun 1989 dan terus berkembang
    </p>
    <Button>Mulai Belajar</Button>
  </Paragraph>

  <Partner />

  <div class="school-activity-container">
    <div class="vectors">
      <Image id="ellipse1" src={ellipse1} alt="Ellipse 1" />
      <Image id="ellipse2" src={ellipse2} alt="Ellipse 2" />
      <Image id="rectangle1" src={rectangle1} alt="Rectangle 1" />
      <Image id="rectangle2" src={rectangle2} alt="Rectangle 2" />
      <Image id="polygon1" src={polygon1} alt="Polygon 1" />
      <Image id="polygon2" src={polygon2} alt="Polygon 2" />
    </div>

    <div class="school-activity-header">
      <h2>Kumpulan Kegiatan Sekolah</h2>
      <a href="#">Lihat Semua</a>
    </div>

    <div class="school-activity-cards">
      {
        activities.map((act) => (
          <div class="card-item">
            <a href="#">
              <Image
                class="card-img"
                src={act.image}
                alt="Belajar mengajar"
                width={320}
              />
              <div class="card-body">
                <p>{act.name}</p>
                <ArrowRight />
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>

  <Paragraph reverse>
    <Image src={student2} slot="image" width={512} height={512} alt="student" />
    <h2 slot="head">
      Dapatkan <br /> Penawaran Menarik
    </h2>
    <p slot="text">
      Kami membuka pendaftaran baru tahun ajaran 2022. Segera daftarkan anak
      anda disekolah kami dapatkan penawaran menarik
    </p>
    <Button>Lihat Detail</Button>
  </Paragraph>

  <div class="cta-register-wrapper">
    <div class="cta-item">
      <h1>Daftarkan Anak Anda Kontak Kami (031 123-4567)</h1>
      <Button>Lihat Semua</Button>
    </div>
    <Image id="elp1" src={ellipse_s1} alt="" />
    <Image id="elp2" src={ellipse_s2} alt="" />
  </div>

  <div class="article-wrapper">
    <div class="article-header-container">
      <h2>Information</h2>
      <a href="#">Lihat Semua</a>
    </div>
    <div class="article-lists">
      {
        articles.map((article) => (
          <ArticleCard
            image={article.image}
            label={article.label}
            title={article.title}
            description={article.description}
          />
        ))
      }
    </div>
  </div>
</Layout>

<style lang="scss">
  .feature-wrapper {
    position: relative;
    top: -100px;
    left: 0;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 4px 24px 0px #0000000d;
    z-index: 10;
  }

  .school-activity-container {
    background-color: #30005f;
    border-radius: 2rem;
    position: relative;
    overflow: auto;
    padding: 2rem 4rem 4rem;
    margin: 2.6rem 0;

    & .vectors > img {
      position: absolute;
      z-index: 0;

      &#ellipse1 {
        width: 120px;
        bottom: 0;
        right: 0;
      }

      &#ellipse2 {
        width: 112px;
        top: 0;
        left: 0;
      }

      &#rectangle1 {
        width: 240px;
        right: 120px;
        top: 0;
        z-index: 1;
      }

      &#rectangle2 {
        width: 180px;
        left: 100px;
        bottom: 0;
      }

      &#polygon1 {
        width: 180px;
        bottom: 40px;
        left: 0;
      }

      &#polygon2 {
        width: 180px;
        right: 0px;
        top: 0;
      }
    }

    .school-activity-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 2.2rem;
      }

      a {
        font-size: 1.2rem;
        text-decoration: none;
      }

      > * {
        z-index: 5;
        color: white;
        text-decoration: none;
      }
    }

    .school-activity-cards {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 2rem;

      .card-item {
        background-color: #6804cb;
        border-radius: 1.2rem;

        a {
          text-decoration: none;
        }

        .card-img {
          width: 100%;
          object-fit: cover;
          border-radius: 1.2rem 1.2rem 0 0;
        }

        .card-body {
          color: white;
          width: 100%;
          display: flex;
          align-items: center;
          padding-left: 1.2rem;
          gap: 0.6rem;

          p {
            font-size: 1.2rem;
          }
        }
      }

      > * {
        z-index: 5;
      }
    }
  }

  .cta-register-wrapper {
    position: relative;
    background-color: #30005f;
    border-radius: 2rem;
    color: white;
    padding: 6rem 4rem;
    margin-top: 6.8rem;

    .cta-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      max-width: 512px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 2.2rem;
    }

    #elp1 {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    #elp2 {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .article-wrapper {
    margin-top: 10rem;

    .article-header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2.6rem;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        color: #E33FAB;
        font-size: 1.2rem;
      }
    }

    .article-lists {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
</style>
