---
import { Image } from "astro:assets";
import Label from "./partials/Label.astro";

interface Props {
  image: ImageMetadata;
  title: string;
  description?: string;
  date?: string;
  label?: string;
}

const { image, title, description, date, label } = Astro.props;
---

<div class="article-card-container">
  <Image class="card-img" src={image} alt="" />
  <div class="card-body">
    <div class="article-label">
      {label && <Label {label} />}
    </div>
    <div class="card-header">
      <p class="article-date">{date}</p>
      <h3 class="article-title">{title}</h3>
      <p class="article-description">{description}</p>
    </div>
  </div>
</div>

<style>
  .article-card-container {
    border-radius: 16px;
    cursor: pointer;

    .card-body {
      margin-top: 1rem;
    }

    .card-header {
      margin-top: 1rem;

      .article-date {
        margin: 0;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
        color: #787878;
      }

      .article-title {
        width: 357.33px;
        color: #404040;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
      }

      .article-description {
        width: 357.33px;
        color: #787878;
        font-size: 16px;
        word-wrap: break-word;
      }
    }
  }
</style>
